@font-face
{
    font-family: 'raleway';
    src: url('./font/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'raleway'/*, 'trebuchet MS', Arial, sans-serif*/;
    color : #181818;
}