@font-face
{
    font-family: 'raleway';
    src: url('./font/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'raleway'/*, 'trebuchet MS', Arial, sans-serif*/;
    color : #181818;
    margin: 0px;
    padding:0px;
}

#global{
    width: 1300px;
    margin:auto;
}

.carte{
    text-decoration: none;
    color: black;
}

.carte :visited{
    color: black;
}

.text_gras{
    font-weight: bold;
}

.text_bleue{
    color : #0065FC;
    font-weight: bold;
}

.text_gris{
    color : #F2F2F2;
    font-weight: bold;
}

/*Header*/
header{
    padding-left: 20px;
    margin:0px;
}

#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu img{
    width:100px;
}

#menu p {
    flex: 1 70%;
}

#menu a {
    text-decoration: none;
}

#inscription{
    display: block;
    margin-top: 0px;
    height: 83px;
    line-height: 73px;
    vertical-align: middle;
}

header h1 {
    font-size: 1em;
}
/*Menu nav header*/
nav ul{
    display: flex;
    list-style-type: none;
    margin-top: 0px;
    margin-top: 4px;
}

nav li{
    margin-right: 20px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    color: #181818;
    padding: 20px 15px;

}

nav a:hover {
    color: #0065FC;
    border-top: #0065FC 2px solid;
    margin-top: 2px;
}

/*Champ recherche*/

#recherche{
    display: flex;
    height: 40px;
    padding-left: 20px;
}

#ico_gps {
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width:30px;
    text-align: center;
}

#recherche input{
    color: black;
    border: 1px solid #F2F2F2;
    height:36px;
    margin-left: -5px;
}

/* Version pc masquage de la loupe */
.bouton_recherche i {
    display: none;
}

.bouton_recherche{
    padding: 10px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    color: white;
    border: 1px solid #F2F2F2;
    height:40px;
    margin-left: -5px;
}

.bouton_recherche :hover {
    color: #DEEBFF;
}

/*Filtres*/
#filtres{
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-left: 20px;
}

#filtres h2 {
    font-size: 1em;
}

#filtres ul{
    display: flex;
    list-style-type: none;
}

#filtres li{
    margin-right: 20px;
    border: #F2F2F2 1px solid;
    border-radius: 20px 20px 20px 20px;
    padding-right: 10px;
}

.switch {
    padding: 10px;
    background-color: #DEEBFF;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    height:40px;
    width:40px;
    margin-left: -5px;
}


#filtres li :hover {
    background-color: #0065FC;
    color: #DEEBFF;
}

/*info*/

#info{
    padding-left: 20px;
}

#info i {
    font-size: 0.8em;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    margin-right: 15px;
    height: 10px;
    width: 10px;
    text-align:center;
}

/*Corp*/

#corp{
    display: flex;
    padding-left: 20px;
}

/*Article*/

article {
    background-color: #F2F2F2;
    width: 70%;
    margin-right: 15px;
    padding: 15px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

article h2{
    font-size: 1em;
    font-weight: bold;
    order: -1;
    flex: 1 0 100%;
}

article p{
    font-size: 1em;
    font-weight: bold;
    flex: 1 0 100%;
}

.cadre_hebergement{
    background-color: white;
    width: 230px;
    border-radius: 15px;
    padding: 5px;
    margin: 15px;
}

.cadre_hebergement figure{
    margin: 0px;

}

.img_hebergement{
    display: block;
    border-radius: 15px 15px 0px 0px;
    width:230px;
    height: 120px;
    overflow: hidden;
}

.cadre_hebergement img{
    width:230px;
    display: block;
    margin: auto;
}

.cadre_hebergement figcaption{
    font-size: 0.8em;
    background-color:white;
    padding-left: 15px;
}

/*Aside*/

aside{
    background-color: #F2F2F2;
    width: 30%;
    margin-left: 15px;
    padding : 15px;
    border-radius: 20px 20px 20px 20px;
}

aside h3{
    font-size: 1em;
    font-weight: bold;
    order: -1;
    flex: 1 0 100%;
}

aside p{
    font-size: 1em;
    font-weight: bold;
    flex: 1 0 100%;
}

#populaire_aside{
    display: flex;
    align-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.cadre_populaires{
    background-color: white;
    width: auto;
    height: 125px;
    border-radius: 15px;
    padding: 5px;
    margin: 15px;
}

.cadre_populaires figure{
    margin: 0px;
    display:flex;
}

.img_populaires{
    display: block;
    border-radius: 15px 0px 0px 15px;
    width:120px;
    height: 125px;
    overflow: hidden;
}

.cadre_populaires img{
    width:190px;
}

.cadre_populaires figcaption{
    font-size: 0.8em;
    background-color:white;
    padding-left: 20px;
    /* Test flex
    display: flex;
    flex-flow: row wrap;
    */
}

/*Bloc activité*/

#bloc_activite{
    width: 98%;
    margin-right: 15px;
    margin-top: 30px;
    margin-left: 15px;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-flow: row wrap;
    /*justify-content: space-around;*/
}

.activite_trois {
    width: 50%;
    height: 460px;
    display: flex;
    flex-flow: column wrap;
}

#bloc_activite h2{
    font-size: 1em;
    font-weight: bold;
    order: -1;
    flex: 1 0 100%;
}

/*mise en forme bloc XL*/
.cadre_activite_xl{
    background-color: white;
    width: 250px;
    height: 435px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 5px 5px 5px grey;
}

.cadre_activite_xl figure{
    margin: 0px;

}

.img_activite_xl{
    display: block;
    border-radius: 15px 15px 0px 0px;
    width:250px;
    height: 385px;
    overflow: hidden;
}

.cadre_activite_xl img{
    height:400px;
    display: block;
    margin: auto;
}

.cadre_activite_xl figcaption{
    font-size: 0.8em;
    background-color:white;
    padding-left: 15px;
}

/*mise en forme bloc m */

.cadre_activite_m{
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 5px 5px 5px grey;
}

.cadre_activite_m figure{
    margin: 0px;

}

.img_activite_m{
    display: block;
    border-radius: 15px 15px 0px 0px;
    width:250px;
    height: 200px;
    overflow: hidden;
}

.cadre_activite_m img{
    height:220px;
    display: block;
    margin: auto;
}

.cadre_activite_m figcaption{
    font-size: 0.8em;
    background-color:white;
    padding-left: 15px;
}

/*mise en forme Bloc S */ 

.cadre_activite_s{
    background-color: white;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 5px 5px 5px grey;
}

.cadre_activite_s figure{
    margin: 0px;

}

.img_activite_s{
    display: block;
    border-radius: 15px 15px 0px 0px;
    width:250px;
    height: 100px;
    overflow: hidden;
}

.cadre_activite_s img{
    height:180px;
    display: block;
    margin: auto;
}

.cadre_activite_s figcaption{
    font-size: 0.8em;
    background-color:white;
    padding-left: 15px;
}

/*mise en forme footer*/

footer{
    background-color: #F2F2F2;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
}

footer ul{
    list-style-type: none;
    padding-right: 140px;
}

footer li {
    padding-bottom: 10px;
}